beir==2.0.0
bitsandbytes==0.44.1
datasets==3.1.0
faiss==1.5.3
numpy==1.24.4
onnxruntime==1.20.1
pandas==2.0.3
peft==0.13.2
Pillow==11.0.0
prettyprinter==0.18.0
pytest==8.3.3
pytrec_eval==0.5
sacrebleu==2.4.3
scikit_learn==1.2.2
scipy==1.14.1
sentencepiece==0.2.0
seqeval==1.2.2
setuptools==59.5.0
tokenizers==0.20.3
torch==1.9.1
torchvision==0.10.1
tqdm==4.67.0
transformers==4.46.3
wandb==0.12.21
